.sidebar-container {
  display: flex;
  flex-direction: column;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: #f1f1f1;
}

.nav-link i {
  margin-right: 10px;
}

.nav-link.text-danger {
  color: #e74c3c;
  cursor: pointer;
}

.nav-link.text-danger:hover {
  background-color: #f8d7da;
}
.hover-bg:hover {
  background-color: #e9ecef;
  cursor: pointer;
  transition: background-color 0.2s;
}
