.hero {
  background-color: #ffffff;
  min-height: 60vh;
  padding: 3rem 1rem;
}

.hero h1 {
  max-width: 800px;
}

.hero p {
  max-width: 700px;
}

.lead text-muted mb-4{
  background-color: #ffffff;
}
